<div class="header">
  <h2 class="logo"><a href="/">ProDevs</a></h2>
  <nav class="nav">
    <li><a href="/home">Home</a></li>
    <li><a href="/home">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/home">Product</a></li>
  </nav>
</div>
